.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input{
  height: 40px;
  width: 60%;
  border-radius: 8px;
}

.search{
  width: 60%;
  margin-bottom: 20px;
  margin-top: 20px;
}

 .grid {
  gap: 20px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
} 

.countryCard{
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
